html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.console {
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 0px 0px 5px black;
}